{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ gallery_title }}
{% endblock %}

{% block header %}

    <script type="text/javascript" src="{% static 'gallery/js/infinite_scroll.js' %}"></script>
    {% include "gallery/partials/justify_images.html" %}

{% endblock %}

{% block bar_title %}
    <div id="title">{{ gallery_title }}</div>
{% endblock %}

{% block content %}
<div class="container px-lg-1">
<h2 class="title_font title_color mt-4 mb-2 mx-lg-n5">ALL ALBUMS</h2>
<h5 class="font-weight-light mx-lg-n5 mb-2">Browse all our curated collections, which include Death & Burial, Ancient Theater, Hunting & Leisure, Ritual, Labors of Hercules, and Education & Politics<hr/></h5>

{% for album in object_list %}
	{% if forloop.first %}<div class="row my-auto mx-lg-n5">{% endif %}


        {% if album.display_highlight %}
            {% with album.display_highlight as image %}
			{% if forloop.first %}<div class="col-sm">

			{% elif forloop.counter|divisibleby:4 %}
			<div class="col-sm">

			{% elif forloop.counter0|divisibleby:4  %}
			<div class="col-sm">

			{% else %}
			<div class="col-sm">

			{% endif %}

    			<a class="nounderline" href="{% url 'gallery:album_detail' album.pk album.slug  %}">
			<div class="card home-card">
				<img src="{{ image.data_thumbnail.url }}" class="card-img-top" alt="{{ image.title }}">
				<div class="card-body">
					<h5 class="card-title title_color">{{ image.title }}</h5>
					<p class="card-text text-body">{{ image.description }}</p>
				</div>
			</div>
    			</a>
			</div>

		<!--Make sure only 4 columns per row-->
		{% if forloop.counter|divisibleby:4 %}
			</div>
			<div class="row my-auto mx-lg-n5">
		{% endif %}

            {% endwith %}
        {% else %}

			{% if forloop.first %}<div class="col-sm">

			{% elif forloop.counter|divisibleby:4 %}
			<div class="col-sm">

			{% elif forloop.counter0|divisibleby:4  %}
			<div class="col-sm">

			{% else %}
			<div class="col-sm">

			{% endif %}
    			<a class="nounderline" href="{% url 'gallery:album_detail' album.pk album.slug  %}">
			<div class="card home-card">
				<img src="{% static 'gallery/images/album.png' %}" class="card-img-top" alt="{{ image.title }}">
				<div class="card-body">
					<h5 class="card-title title_color">EMPTY ALBUM</h5>
					<p class="card-text text-body">Click to add photos!</p>
				</div>
			</div>
    			</a>
			</div>
		<!--Make sure only 4 columns per row-->
		{% if forloop.counter|divisibleby:4 %}
			</div>
			<div class="row my-auto mx-lg-n5">
		{% endif %}

        {% endif %}
	{% if forloop.last %}</div>{% endif %}
{% endfor %}

</div>
</div>

{% endblock %}
