{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ gallery_title }}
{% endblock %}

{% block header %}

    <script type="text/javascript" src="{% static 'gallery/js/image_upload.js' %}"></script>
    <script type="text/javascript" src="{% static 'gallery/js/infinite_scroll.js' %}"></script>
    {% include "gallery/partials/justify_images.html" %}

{% endblock %}

{% block bar_title %}
    <div id="title">{{ gallery_title }}</div>
{% endblock %}

{% block content %}

<div class="container px-lg-1">

    {% for image in image_list %}
	{% if image.is_validated %} 


	{% if forloop.first %}

	<div class="row mt-4 mb-2 mx-lg-n5">

	<div class="col-sm">

	{% else %}

	<div class="col-sm">

	{% endif %}








<a class="nounderline" href="{% url 'gallery:image_detail' image.pk image.slug %}">
	
<div class="card border-0">

   <img id="image_empty_{{ image.pk }}"

                class="card-img-top photo-card-img-top"

                alt="{{ image.title }}"

                src="{{ image.data_thumbnail.url }}"
   

  <div class="card-body">

 <h5 class="title_color title_font text-center"> {{ image.title }} </h5>


 </div>

</a>
</div>







		<!--Make sure only 4 columns per row-->



		{% if forloop.counter|divisibleby:4 %}



			</div>

			<div class="row my-2 mx-lg-n5">



		{% endif %}





	{% if forloop.last %}</div>{% endif %}



{% endif %}

{% endfor %}
</div>


    {% if not image_list and user.is_authenticated %}

        <div id="empty_placeholder">
            Drag images into this box to upload to the image feed
        </div>

    {% endif %}


{% endblock %}
